@charset "utf-8";

body {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-family: 游明朝体;
    color: #1E1E1E;
}

.inner {
    max-width: 1260px;
    width: 76.1904761905%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*header*/
h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1.25;
    line-height: 1;
    text-align: center;
    margin: 40px 0;
}

/*main*/
/*about*/
main .about {
    position: relative;
}

.about .recruitingsite {
    position: absolute;
    background-color: #fff;
    left: 0;
    padding: 15px 20px;
}

.about .website {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.about .text {
    font-size: 36px;
}

/*discussion*/



/*footer*/